.header {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 8px 8px 6px 5px rgb(0 0 0 / 0.2);

}
.header>h1{
    font-size: 20px;
}